[package]
name = "this-week-in-past"
version = "0.1.0"
edition = "2021"
license = "MIT"
authors = ["Rouven Himmelstein"]
description = "Aggregate images taken this week, from previous years and presents them on a web page with slideshow."
readme = "README.md"
homepage = "https://github.com/RouHim/this-week-in-past"
repository = "https://github.com/RouHim/this-week-in-past"
keywords = ["image", "gallery", "slideshow", "this week"]

[dependencies]
lazy_static = "1.4.0"
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.87"
chrono = { version = "0.4.22", features = ["serde"] }
now = "0.1.3"
time = "0.3.16"
md5 = "0.7.0"
ureq = "2.5.0"
actix-http = { version = "3.2.2", features = ["rustls"] }
actix-web = { version = "4.2.1", features = ["rustls"] }
actix-files = "0.6.2"
evmap = "10.0.2"
clokwerk = "0.3.5"
kamadak-exif = "0.5.5"
rayon = "1.5.3"
regex = "1.7.0"
image = "0.24.4"
cacache = "10.0.1"
rand = "0.8.5"
log = "0.4.17"
mime_guess = "2.0.4"
pavao = "0.1.2"

[dev-dependencies]
assertor = "0.0.1"
pretty_assertions = "1.3.0"
actix-rt = "2.7.0"
ureq = "2.5.0"

[profile.release]
panic = "abort" # Strip expensive panic clean-up logic
codegen-units = 1 # Compile crates one after another so the compiler can optimize better
lto = true # Enables link to optimizations
strip = true # Strip debug symbols
