[package]
name = "this-week-in-past"
version = "0.1.0"
edition = "2021"

[dependencies]
lazy_static = "1.4"
serde = "1.0"
serde_json = "1.0"
chrono = { version = "0.4", features = ["serde"] }
now = "0.1"
md5 = "0.7"
reqwest = { version = "0.11", features = ["blocking"] }
roxmltree = "0.14"
actix-http = { version = "2" }
actix-web = "3"
actix-files = "0.6"
evmap = "10"
clokwerk = "0.3"
exif = { git = "https://github.com/RouHim/exif-rs", rev = "1334172dc3c3d48a159619c7f1b1b952764ec530" }
rayon = "1.5"
regex = "1.5"
base64 = "0.13"
image = "0.24"
cacache = "10"
rand = "0.8"

[dev-dependencies]
assertor = "0.0"
pretty_assertions = "1.1"

# Strip debug symbols in release mode
[profile.release]
strip = "symbols"