[package]
name = "this-week-in-past"
version = "0.1.0"
edition = "2021"
license = "MIT"
authors = ["Rouven Himmelstein"]
description = "Aggregate images taken this week, from previous years and presents them on a web page with slideshow."
readme = "README.md"
homepage = "https://github.com/RouHim/this-week-in-past"
repository = "https://github.com/RouHim/this-week-in-past"
keywords = ["image", "gallery", "slideshow", "this week"]

[dependencies]
lazy_static = "1.4.0"
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.83"
chrono = { version = "0.4.22", features = ["serde"] }
now = "0.1.2"
time = "0.3.13"
md5 = "0.7.0"
reqwest = "0.11.11"
actix-http = "3.2.1"
actix-web = "4.1.0"
actix-files = "0.6.2"
evmap = "10.0.2"
clokwerk = "0.3.5"
kamadak-exif = "0.5.4"
rayon = "1.5.3"
regex = "1.6.0"
image = "0.24.3"
cacache = "10.0.1"
rand = "0.8.5"
log = "0.4.17"
mime_guess = "2.0.4"
openssl = { version = "0.10.41", features = ["vendored"] }

[dev-dependencies]
assertor = "0.0.1"
pretty_assertions = "1.2.1"
actix-rt = "2.7.0"
reqwest = { version = "0.11.11", features = ["blocking"] }

# Strip debug symbols in release mode
[profile.release]
panic = "abort" # Strip expensive panic clean-up logic
codegen-units = 1 # Compile crates one after another so the compiler can optimize better
lto = true # Enables link to optimizations
strip = true # Strip debug symbols