* {
    overflow: hidden;
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: "Roboto Medium";
    src: url(Roboto-Medium.ttf);
}

#slideshow-layout {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#slideshow-image {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.label {
    position: absolute;
    bottom: 3vh;
    left: 3vh;
    color: #FFFFFF;
    font-family: "Roboto Medium", serif;
    background: transparent;
    font-size: 30px;
    text-align: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.weather {
    position: absolute;
    bottom: 3vh;
    right: 3vh;
    text-align: right;
    background: transparent;
}

.weather-label {
    text-align: right;
    color: #FFFFFF;
    font-family: "Roboto Medium", serif;
    background: transparent;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    flex-grow: 0;
}

.weather > * {
    background: transparent;
}